FontPatcher
fonts
release
sources/cjk/**/*.ttf
sources/cjk/**/*.otf
sources/cjk/**/*.vfc
!sources/cjk/variable-source/MapleMono-CJK-Base-VF.vfc
!sources/cjk/variable-source/MapleMono-CJK-Base-VF.ttf
sources/*.glyphs
cdn

__pycache__
.DS_Store
*.zip
.venv
.vscode
*.backup

.ninja_*
build.ninja
sources/instance_ufos